._.DS_Store
.DS_Store
.osiris_pid
.shutdown_pid
.terminal
build-impl.xml~
Thumbs.db
*.lnk

/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db
/client/rameses-enterprise-entity/nbproject/private/
/client/rameses-gov-etracs-entity/nbproject/private/
/client/rameses-enterprise-entity/build/
/client/rameses-enterprise-entity/dist/
/client/rameses-gov-etracs-entity/build/
/client/rameses-gov-etracs-entity/dist/
/client/rameses-enterprise-entity-tool/nbproject/private/
/client/rameses-enterprise-entity-tool/dist/
/client/rameses-enterprise-entity-tool/build/